<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            Django E-Commerce
        {% endblock %}
    </title>

    {% load static %}

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}"
    >

</head>

<body>

    <header>

        <div class="logo">

            <a href="/">
                Django E-Commerce
            </a>

        </div>

        <nav>

            <ul>

                <li>

                    <a href="/">Home</a>

                </li>

                <li>

                    <a href="{% url 'product_list' %}">Products</a>

                </li>

                {% if user.is_authenticated %}

                    <li>

                        <a href="{% url 'profile' %}">
                            Profile
                        </a>

                    </li>

                    <li>

                        <a href="{% url 'cart' %}">
                            Cart ({{ cart_count }})
                        </a>

                    </li>

                    <li>

                        <a href="{% url 'order_history' %}">

                            My Orders

                        </a>

                    </li>

                    <li>

                        <a href="{% url 'logout' %}">
                            Logout
                        </a>

                    </li>

                {% else %}

                    <li>

                        <a href="{% url 'login' %}">
                            Login
                        </a>

                    </li>

                    <li>

                        <a href="{% url 'register' %}">
                            Register
                        </a>

                    </li>

                    {% if user.is_authenticated %}
                        


                    {% endif %}          

                {% endif %}

            </ul>

        </nav>

    </header>


    <main>

        {% block content %}

        {% endblock %}

    </main>


    <footer>

        <p>

            © 2026 Django E-Commerce.
            All Rights Reserved.

        </p>

    </footer>

</body>

</html>