{% extends "base.html" %}

{% block title %}
Checkout
{% endblock %}

{% block content %}

<h1>Checkout</h1>

{% if cart.items.all %}

<h2>Select Shipping Address</h2>

<br>

<form method="POST">

    {% csrf_token %}

    {% for address in addresses %}

        <div class="address-card">

            <input
                type="radio"
                name="address"
                value="{{ address.id }}"
                required
            >

            <div>

                <strong>{{ address.full_name }}</strong>

                <p>

                    {{ address.house_number }}

                    {{ address.street }}

                </p>

                <p>

                    {{ address.city }},

                    {{ address.state }}

                </p>

                <p>

                    {{ address.postal_code }}

                </p>

                <p>

                    {{ address.country }}

                </p>

            </div>

        </div>

    {% empty %}

        <p>No address available.</p>

    {% endfor %}


    <hr>

    <h2>Select Payment Method</h2>

    <br>

    <div class="payment-option">

        <input
            type="radio"
            name="payment_method"
            value="COD"
            required
        >

        <label>

            Cash On Delivery

        </label>

    </div>

    <div class="payment-option">

        <input
            type="radio"
            name="payment_method"
            value="ONLINE"
        >

        <label>

            Online Payment

        </label>

    </div>

    <hr>

    <h2>Order Summary</h2>

    <table>

        <tr>

            <th>Product</th>

            <th>Price</th>

            <th>Quantity</th>

            <th>Subtotal</th>

        </tr>

        {% for item in cart.items.all %}

        <tr>

            <td>{{ item.product.name }}</td>

            <td>₹ {{ item.price }}</td>

            <td>{{ item.quantity }}</td>

            <td>₹ {{ item.subtotal }}</td>

        </tr>

        {% endfor %}

    </table>

    <br>

    <h2>

        Grand Total :

        ₹ {{ cart.total_price }}

    </h2>

    <br>

    {% if addresses %}

        <button type="submit">

            Place Order

        </button>

    {% endif %}

</form>

{% else %}

<h2>Your cart is empty.</h2>

<a href="{% url 'product_list' %}">

    Continue Shopping

</a>

{% endif %}

{% endblock %}