{% extends "base.html" %}

{% block title %}
My Orders
{% endblock %}

{% block content %}

<h1>My Orders</h1>

{% if orders %}

<table>

    <tr>

        <th>Order Number</th>

        <th>Date</th>

        <th>Order Status</th>

        <th>Payment</th>

        <th>Total</th>

        <th>Action</th>

    </tr>

    {% for order in orders %}

    <tr>

        <td>

            {{ order.order_number }}

        </td>

        <td>

            {{ order.created_at|date:"d M Y H:i"  }}

        </td>

        <td>

            {{ order.status }}

        </td>

        <td>

            {{ order.payment.payment_status }}

        </td>

        <td>

            ₹ {{ order.total_amount|floatformat:2  }}

        </td>

        <td>

            <a href="{% url 'order_detail' order.order_number %}">

                View

            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% else %}

<p>

No orders found.

</p>

{% endif %}

{% endblock %}